#### BioLockJ conventions
*_NOT_IN_GIT*
/pipelines/*
mkdocs/site/*

#### Files often produced by an IDE
.classpath
.project
.settings

#### File that appears automatically on a mac
.DS_Store

#### common java project .gitignore items

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

